* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
body {
      background:#cdcdc0;  
      font-family:'Open Sans', sans-serif;
    }
a { 
  text-decoration: none;

}
.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
 
}
/* trabajo con header*/

header {
  padding: 40px 0;
}
header .logo {
  text-align: center;
  margin-bottom: 40px;
}
header .logo p {
  color:#b38867;
header form {
  width: 100%;
  display: flex;
  justify-content:center


} 
}
header .barra-busqueda {
  width:  70%;
  height: 40px;
  line-height: 40px;
  background:#ddbc95;
  padding: 0 20px;
  border-radius: 100px;
  border: none;
  text-align: center;
  font-size: 16px;
}
header .categorias {
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}
header .categorias a {
  color:#626d71;
  margin: 10px 2;
  font-size: 18px;
  font-weight:700;
}

header .categorias a.activo {
  color:#000;


}

/* trabajar en grid*/

.grid {
  position: relative;
  width: 100%;

}
.grid .item {
  position: absolute;
  display: block;
  padding: 0;
  margin: 10px;
  width:calc(33.3333%);

}
.grid .item-contenido {
  position:relative;

}


.grid .item img {
  width: 100%;
}


























